@model Person

@{
    ViewData["Title"] = "Delete Rookies";
}

<div class="form-group">
    <div>
        <h2>Are you sure want to remove this rookie?</h2>
    </div>
    <div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <input type="submit" value="Yes" class="btn btn-primary" />
            <a href="@Url.ActionLink("Index","Rookies")" class="btn btn-primary">No</a>
        }

    </div>
</div>